@charset "UTF-8";

/*
Theme Name: Antique
Author: Simon Garbin
Description: Static WordPress theme.
Requires at least: 6.2.2
Tested up to: 6.2.2
Requires PHP: 8.0
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: antique

Antique WordPress Theme, (C) 2023 Simon Garbin
Antique is distributed under the terms of the GNU GPL.
*/

/*
Table of Contents
-----------------
*/

@font-face {
    font-family: 'EB Garamond';
    src: url(./fonts/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

:root {
    overflow: auto;
    scroll-behavior: smooth;

    /* Colors */
    --antique--color-white: #fff;
    --antique--color-light-gray: #f0f0f0;
    --antique--color-gray: #e8e8e8;
    --antique--color-dark-gray: #e0e0e0;
    --antique--color-black: #000;

    /* Fonts */
    --antique--font-primary: 'EB Garamond', 'serif';
    --antique--font-secondary: 'Open Sans', 'sans-serif';

    /* Font size */
    --antique--font-size-primary-tiny: 0.9rem;
    --antique--font-size-primary-small: 1.05rem;
    --antique--font-size-primary-normal: 1.15rem;
    --antique--font-size-primary-large: 1.3rem;
    --antique--font-size-primary-xl: 1.5rem;
    --antique--font-size-primary-xxl: 2.0rem;
    --antique--font-size-primary-xxxl: 2.4rem;

    --antique--font-size-primary-page-title: var(--antique--font-size-primary-xxxl);
    --antique--font-size-primary-page-subtitle: var(--antique--font-size-primary-normal);

    --antique--font-size-secondary-tiny: 0.75rem;
    --antique--font-size-secondary-small: 0.85rem;
    --antique--font-size-secondary-normal: 0.95rem;
    --antique--font-size-secondary-large: 1.0rem;
    --antique--font-size-secondary-xl: 1.2rem;
    --antique--font-size-secondary-xxl: 1.4rem;
    --antique--font-size-secondary-xxxl: 1.8rem;

    --antique--font-size-base-primary: var(--antique--font-size-primary-normal);
    --antique--font-size-base-secondary: var(--antique--font-size-secondary-normal);

    /* Font weight */
    --antique--font-weight-secondary-thin: 300;
    --antique--font-weight-bold-secondary: 500;

    /* Line height */
    --antique--line-height-body: 1.4;
    --antique--line-height-heading: 1.2;
    --antique--line-height-page-title: 1;

    /* Letter spacing */
    --antique--letter-spacing: normal;
    --antique--letter-spacing-page-title: 0.1rem;

    /* Headings */
    --antique--heading--font-family: var(--antique--font-primary);
    --antique--heading--font-weight: normal;
    --antique--heading--font-weight-strong: 700;

    --antique--heading--font-size-h6: var(--antique--font-size-primary-small);
    --antique--heading--font-size-h5: var(--antique--font-size-primary-normal);
    --antique--heading--font-size-h4: var(--antique--font-size-primary-large);
    --antique--heading--font-size-h3: var(--antique--font-size-primary-xl);
    --antique--heading--font-size-h2: var(--antique--font-size-primary-xxl);
    --antique--heading--font-size-h1: var(--antique--font-size-primary-page-title);

    --antique--heading--line-height-h6: var(--antique--line-height-heading);
    --antique--heading--line-height-h5: var(--antique--line-height-heading);
    --antique--heading--line-height-h4: var(--antique--line-height-heading);
    --antique--heading--line-height-h3: var(--antique--line-height-heading);
    --antique--heading--line-height-h2: var(--antique--line-height-heading);
    --antique--heading--line-height-h1: var(--antique--line-height-heading);

    --antique--heading--letter-spacing-h6: var(--antique--letter-spacing);
    --antique--heading--letter-spacing-h5: var(--antique--letter-spacing);
    --antique--heading--letter-spacing-h4: var(--antique--letter-spacing);
    --antique--heading--letter-spacing-h3: var(--antique--letter-spacing);
    --antique--heading--letter-spacing-h2: var(--antique--letter-spacing);
    --antique--heading--letter-spacing-h1: var(--antique--letter-spacing);

    /* Horizontal alignment */
    --antique--text-align-p: justify;

    /* Page areas */
    --antique--separator-line--width: 1px;
    --antique--progress-bar--height: 4px;
    --antique--progress-bar--height--mobile: 4px;
    --antique--mobile-nav-opener--height: 68px;

    --antique--site-header--height: 80px;
    --antique--site-branding--margin-tb: 15px;

    --antique--post-nav-separator--height: 1px;
    --antique--arrow-head--width: 12px;
    --antique--arrow-head--line-width: 2px;

    --antique--page-header--padding-tb: var(--antique--font-size-primary-page-title);
    --antique--page-header--padding-tb--mobile: calc(0.5 * var(--antique--page-header--padding-tb));
    --antique--page-header--min-height: calc(5 * var(--antique--font-size-primary-page-title));
    --antique--page-title--width: 75%;

    --antique--content-area--min-height: 768px;
    --antique--content-area--margin-tb: 60px;
    --antique--content-area--margin-tb--mobile: calc(0.5 * var(--antique--content-area--margin-tb));

    --antique--content--width: 75%;
    --antique--content--margin-right: 1.5%;

    --antique--sidebar--margin-tb--mobile: var(--antique--content-area--margin-tb--mobile);
    --antique--sidebar--margin-left: var(--antique--content--margin-right);
    --antique--sidebar--width: calc(100% - var(--antique--content--width) - 2 * var(--antique--sidebar--margin-left));

    --antique--widget--margin-tb: 12px;

    --antique--box--padding-tb: 30px;
    --antique--box--padding-lr: 40px;
    --antique--box--padding-tb-mobile: 20px;
    --antique--box--padding-lr-mobile: 30px;

    --antique--excerpt--border-width: 1px;
    --antique--excerpt--border-color: var(--antique--color-black);
    --antique--excerpt--border-radius: 0;

    --antique--post-meta--margin: 2.5em;
    --antique--post-meta--padding: 0.3em;

    --antique--avatar--dimensions: 96px;
    --antique--avatar--margin-right: 1em;
    --antique--avatar--margin-bottom: calc(0.5 * var(--antique--avatar--margin-right));

    --antique--page-number--height: 3em;
    --antique--page-number--margin: 2px;
    --antique--page-number-current--color: var(--antique--color-gray);

    /* Elements on mobile devices */
    --antique--to-top--dimensions: 40px;
    --antique--to-top--border-radius: 0;
    --antique--to-top--bottom: 5vh;
    --antique--to-top--right: 7%;

    /* Form elements */
    --antique--form--font-family: var(--antique--font-secondary);
    --antique--form--font-size: var(--antique--font-size-secondary-small);
    --antique--form--font-weight: var(--antique--font-weight-secondary-thin);
    --antique--form--line-height: var(--antique--line-height-body);
    --antique--form--color-text: var(--antique--color-black);

    --antique--form--border-color: var(--antique--color-dark-gray);
    --antique--form--border-width: 1px;
    --antique--form--border-radius: 0;

    --antique--form--padding-tb: 0.75em;
    --antique--form--padding-lr: var(--antique--form--padding-tb);

    --antique--form--border-color-focus: #2271b1;
    --antique--form--outline-color: transparent;
    --antique--form--outline-width: 2px;

    /* Options */
    --antique--select--border: none;
    --antique--select--border-radius: 0;

    --antique--select--padding-tb: var(--antique--form--padding-tb);
    --antique--select--padding-lr: var(--antique--form--padding-lr);

    --antique--disabled--opacity: 0.6;

    /* Buttons */
    --antique--button--color-text: var(--antique--color-black);
    --antique--button--color-text-hover: var(--antique--color-black);
    --antique--button--color-text-active: var(--antique--color-black);

    --antique--button--color-background: var(--antique--color-gray);
    --antique--button--color-background-hover: var(--antique--color-dark-gray);
    --antique--button--color-background-active: var(--antique--color-dark-gray);

    --antique--button--font-family: var(--antique--font-secondary);
    --antique--button--font-size: var(--antique--font-size-secondary-small);
    --antique--button--font-weight: var(--antique--font-weight-secondary-thin);
    --antique--button--line-height: var(--antique--line-height-body);

    --antique--button--border: none;
    --antique--button--border-radius: 0;

    --antique--button--padding-tb: 0.75em;
    --antique--button--padding-lr: calc(2 * var(--antique--button--padding-tb));
}

@media only screen and (max-width: 768px) {

    :root {
        scroll-padding-top: calc(var(--antique--mobile-nav-opener--height) + var(--antique--progress-bar--height--mobile));
    }

}

body {
    margin: 0;
    background-color: var(--antique--content--bg-color);
    font-family: var(--antique--font-secondary);
    font-size: var(--antique--font-size-base-primary);
    line-height: var(--antique--line-height-body);
}

body * {
    box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    clear: both;
    font-family: var(--antique--heading--font-family);
    font-weight: var(--antique--heading--font-weight);
}

h1 strong,
.h1 strong,
h1 b,
.h1 b,
h2 strong,
.h2 strong,
h2 b,
.h2 b,
h3 strong,
.h3 strong,
h3 b,
.h3 b,
h4 strong,
.h4 strong,
h4 b,
.h4 b,
h5 strong,
.h5 strong,
h5 b,
.h5 b,
h6 strong,
.h6 strong,
h6 b,
.h6 b {
    font-weight: var(--antique--heading--font-weight-strong);
}

h1,
.h1 {
    font-size: var(--antique--heading--font-size-h1);
    letter-spacing: var(--antique--heading--letter-spacing-h1);
    line-height: var(--antique--heading--line-height-h1);
}

h2,
.h2 {
    font-size: var(--antique--heading--font-size-h2);
    letter-spacing: var(--antique--heading--letter-spacing-h2);
    line-height: var(--antique--heading--line-height-h2);
}

h3,
.h3 {
    font-size: var(--antique--heading--font-size-h3);
    letter-spacing: var(--antique--heading--letter-spacing-h3);
    line-height: var(--antique--heading--line-height-h3);
}

h4,
.h4 {
    font-size: var(--antique--heading--font-size-h4);
    font-weight: var(--antique--heading--font-weight-strong);
    letter-spacing: var(--antique--heading--letter-spacing-h4);
    line-height: var(--antique--heading--line-height-h4);
}

h5,
.h5 {
    font-size: var(--antique--heading--font-size-h5);
    font-weight: var(--antique--heading--font-weight-strong);
    letter-spacing: var(--antique--heading--letter-spacing-h5);
    line-height: var(--antique--heading--line-height-h5);
}

h6,
.h6 {
    font-size: var(--antique--heading--font-size-h6);
    font-weight: var(--antique--heading--font-weight-strong);
    letter-spacing: var(--antique--heading--letter-spacing-h6);
    line-height: var(--antique--heading--line-height-h6);
}

a {
    cursor: pointer;
    color: var(--antique--link--color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: auto;
}

a:visited {
    color: var(--antique--link--color-visited);
}

b,
strong {
    font-weight: bolder;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
}

/* Options */
select,
button {
    border: none;
}

select {
    padding: var(--antique--select--padding-tb) var(--antique--select--padding-lr);
    border: var(--antique--select--border);
    border-radius: var(--antique--form--border-radius);
    background-color: var(--antique--button--color-background); /*TODO*/
    color: var(--antique--form--color-text);
    font-family: var(--antique--form--font-family);
    font-weight: var(--antique--form--font-weight);
    font-size: var(--antique--form--font-size);
    line-height: var(--antique--form--line-height);
}

select:disabled {
    border: var(--antique--form--border-width) solid black;
    background-color: var(--antique--color-dark-gray);
    color: white;
    font-weight: 500;
}

/* Button */
button {
    padding: var(--antique--button--padding-tb) var(--antique--button--padding-lr);
    border: var(--antique--button--border);
    border-radius: var(--antique--button--border-radius);
    background-color: var(--antique--button--color-background);
    color: var(--antique--button--color-text);
    font-family: var(--antique--button--font-family);
    font-weight: var(--antique--button--font-weight);
    font-size: var(--antique--form--font-size);
    line-height: var(--antique--button--line-height);
    cursor: pointer;
}

button:hover {
    color: var(--antique--button--color-text-hover);
    background-color: var(--antique--button--color-background-hover);
}

/* Radio button */
input[type=radio] {
    height: 15px;
    width: 15px;
}


/* Checkbox */
input[type=checkbox] {
    height: 20px;
    width: 20px;
}

select:disabled,
input[type=radio]:disabled,
input[type=checkbox]:disabled {
    opacity: var(--antique--disabled--opacity);
}

/* Input fields */
input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
    max-width: 100%;
    padding: var(--antique--form--padding-tb) var(--antique--form--padding-lr);
    border: var(--antique--form--border-width) solid var(--antique--form--border-color);
    border-radius: var(--antique--form--border-radius);
    color: var(--antique--form--color-text);
    font-family: var(--antique--form--font-family);
    font-weight: var(--antique--form--font-weight);
    font-size: var(--antique--form--font-size);
    line-height: var(--antique--form--line-height);
}

input[type=text]:disabled,
input[type=email]:disabled,
input[type=url]:disabled,
input[type=password]:disabled,
input[type=search]:disabled,
input[type=number]:disabled,
input[type=tel]:disabled,
input[type=date]:disabled,
input[type=month]:disabled,
input[type=week]:disabled,
input[type=time]:disabled,
input[type=datetime]:disabled,
input[type=datetime-local]:disabled,
input[type=color]:disabled,
textarea:disabled {
    opacity: var(--antique--disabled--opacity);
}

/*
----------------------------------------
General
----------------------------------------
*/

.full-width-block {
    width: 100%;
    display: block;
}

.wrapper {
    position: relative;
    height: inherit;
    width: 1180px;
    max-width: 90%;
    padding: 0 2%;
    margin: 0 auto;
}

.adjust-overflow {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/*
----------------------------------------
Colors
----------------------------------------
*/

.site-header,
.site-footer,
.mobile-nav-opener {
    background-color: var(--antique--header--bg-color);
    color: var(--antique--header--font-color);
}

.site-footer {
    background-color: var(--antique--footer--bg-color);
    color: var(--antique--footer--font-color);
}

.site-header a,
.site-footer a {
    color: inherit;
    transition: color 0.25s;
    text-decoration: none;
}

.site-header a:hover,
.site-footer a:hover {
    transition: color 0.25s;
}

.site-header a:hover {
    color: var(--antique--header--font-color--hover);
}

.site-footer a:hover {
    color: var(--antique--footer--font-color--hover);
}

.site-page-header {
    background-color: var(--antique--title--bg-color);
    color: var(--antique--title--font-color);
}

.page-title::selection,
.page-subtitle::selection {
    background-color: var(--antique--title--bg-color--selection);
}

.post-navigation-bar {
    background-color: var(--antique--post-nav--bg-color);
    color: var(--antique--post-nav--font-color);
}

.post-nav-separator {
    background-color: var(--antique--title--bg-color);
}

/*
----------------------------------------
Fonts
----------------------------------------
*/

.site-page-header,
.site-page-content,
.excerpt-content {
    font-family: var(--antique--font-primary);
}

.pagination,
.about-author,
.post-meta-top,
.post-meta-bottom {
    font-family: var(--antique--font-secondary);
}

/*
----------------------------------------
Font Sizes
----------------------------------------
*/

.sidebar,
.thumbnail-caption {
    font-size: var(--antique--font-size-secondary-normal);
}

.post-navigation-bar,
.pagination,
.about-author,
.post-meta-top,
.post-meta-bottom,
.site-footer {
    font-size: var(--antique--font-size-secondary-small);
}

.site-info {
    font-size: var(--antique--font-size-secondary-tiny);
}

.site-info {
    font-size: var(--antique--font-size-secondary-tiny);
}

/*
----------------------------------------
Font Weights
----------------------------------------
*/

.sidebar {
    font-weight: var(--antique--font-weight-secondary-thin);
}

/*
----------------------------------------
Reading progress bar
----------------------------------------
*/

#reading-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--antique--progress-bar--height);
    z-index: 1000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}

#reading-progress-bar::-webkit-progress-bar {
    background-color: transparent;
}

#reading-progress-bar::-webkit-progress-value {
    background-color: var(--antique--reading-progress--bg-color-l);
    background-image: -webkit-linear-gradient(
        left,
        transparent,
        var(--antique--reading-progress--bg-color-r)
        );
}

#reading-progress-bar::-moz-progress-bar {
    background-color: var(--antique--reading-progress--bg-color-l);
    background-image: -webkit-linear-gradient(
        left,
        transparent,
        var(--antique--reading-progress--bg-color-r)
        );
}

@media only screen and (max-width: 768px) {

    #reading-progress-bar {
        top: var(--antique--mobile-nav-opener--height);
        height: var(--antique--progress-bar--height--mobile);
    }

}

/*
---------------------------------
Site header
---------------------------------
*/

:root {
    --antique--site-header--height: 80px;
    --antique--site-branding--margin-tb: 15px;
}

.site-header {
    height: var(--antique--site-header--height);
}

.site-header-inner-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
}

.site-branding {
    height: calc(var(--antique--site-header--height) - 2 * var(--antique--site-branding--margin-tb));
    max-width: 30%;
    margin-top: var(--antique--site-branding--margin-tb);
    margin-bottom: var(--antique--site-branding--margin-tb);
    text-align: left;
}

.site-logo,
.custom-logo-link,
.custom-logo {
    height: inherit;
}

.custom-logo-link {
    display: block;
}

.custom-logo {
    width: max-content;
    max-width: 100%;
    object-fit: contain;
}


@media only screen and (max-width: 768px) {

    .site-header {
        height: 0;
    }
    
    .mobile-nav-opener .site-branding {
        height: 100%;
        max-width: calc(100% - 24px);
        margin: 0;
        padding: 10px 0 10px 0;
    }

}


/*
---------------------------------
Site navigation
---------------------------------
*/

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    letter-spacing: 2px;
    text-transform: uppercase;

    display: inline-block;
    padding: 15px 15px;
}

/*
Navigation bar on large screens (e.g. PC monitors)

Top-level pages:
 - displayed in a row
 - text is centered
 - hover expands subpages to the bottom

Subpages:
 - displayed in columns
 - text is left-aligned
 - hover expands subpages to the right
*/

@media only screen and (min-width: 769px) {

    #site-navigation {
        /*border-top: var(--antique--separator-line--width) solid var(--antique--content--bg-color);*/
        flex-grow: 1;
        text-align: right;
    }

    .nav-bar li {
        display: block;
        position: relative;
    }

    .nav-bar > ul > li {
        display: inline-block;
        position: relative;
        text-align: center;
    }

    .nav-bar > ul li ul {
        text-align: left;
        background-color: var(--antique--header--bg-color);
        padding-top: 2px;
        padding-left: 2px;
        padding-right: 2px;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 100;
    }

    .nav-bar > ul li ul li {
        width: 220px;
        z-index: 100;
    }

    .nav-bar ul li ul li ul {
        position: absolute;
        left: 221px;
        top: -2px;
    }

    .nav-bar ul li ul li a {
        width: 100%;
    }

    .nav-bar ul.sub-menu {
        display: none;
    }

    .nav-bar ul.show {
        display: block;
    }

    .has-sub-menu a {
        padding-right: 0;
    }

    .sub-menu-arrow {
        display: inline-block;
        width: 20px;
        cursor: pointer;
        text-align: center;
    }

    .sub-menu-arrow i {
        font-size: 14px;
        line-height: 50px;
    }

    .nav-bar li .sub-menu-arrow i {
        transform: rotate(0deg);
        transition: transform 0.2s;
    }

    .nav-bar ul li ul li .sub-menu-arrow i {
        transform: rotate(-90deg);
    }

    .nav-bar li.has-sub-menu:hover > .sub-menu {
        display: block;
    }
    .nav-bar ul li.has-sub-menu:hover > .sub-menu-arrow i {
        transform: rotate(180deg);
    }
    .nav-bar ul li ul li.has-sub-menu:hover > .sub-menu-arrow i {
        transform: rotate(90deg);
    }
}

/*
Navigation bar on small screens (e.g. smartphones)
*/

@media only screen and (max-width: 768px) {

    .nav-bar {
        max-width: 70%;
        width: 300px;
        padding-top: 25vh;
        padding-bottom: 10vh;
        position: fixed;
        top: -10vh;
        left: 0;
        bottom: -10vh;
        height: 120vh;
        background-color: white;
        z-index: 1030;

        transform: translateX(-100%);
        transition: transform 0.75s;
        overflow: auto;
    }

    .nav-bar ul {
        display: block;
    }

    .nav-bar a {
        width: 100%;
        color: black; /* TODO */
        display: block;
    }

    .nav-bar ul li {
        width: 100%;
        text-align: left;
        position: relative;
        display: block;
        border-top: 1px solid var(--antique--header--bg-color);
    }

    .nav-bar ul li ul li a {
        font-size: 13px;
        padding-left: 25px;
    }

    .nav-bar ul li ul li ul li a {
        font-size: 13px;
        padding-left: 50px;
    }

    .nav-bar ul.sub-menu {
        display: none;
    }

    .nav-bar ul.show {
        display: block;
    }

    .sub-menu-arrow {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        width: 50px;
        cursor: pointer;
        text-align: center;
    }

    .sub-menu-arrow i {
        color: black; /* TODO */
        line-height: 50px;
        transform: rotate(0deg);
        transition: transform 0.2s;
    }

    .rotate-arrow i {
        transform: rotate(180deg);
    }
}

/*
Additional navigation bar on small screens
*/

@media only screen and (min-width: 769px) {

    .mobile-nav-opener,
    .mobile-dark-layer {
        display: none;
    }

}

@media only screen and (max-width: 768px) {

    .mobile-nav-opener {
        position: fixed;
        top: 0;
        z-index: 1040;
        width: 100vw;
        height: var(--antique--mobile-nav-opener--height);
        background-color: var(--antique--header--bg-color);
        cursor: pointer;
    }

    .mobile-nav-opener-icon {
        position: absolute;
        top: 50%;
        right: 2%;
        height: 20px;
        width: 24px;
        transform: translate(0, -50%);
    }

    .icon-bar-top,
    .icon-bar-middle,
    .icon-bar-bottom {
        width: 24px;
        height: 4px;
        border-radius: 2px;
        background-color: var(--antique--header--font-color);
        transition: 0.5s;
    }

    .icon-bar-middle {
        margin: 4px 0;
    }

    .make-cross .icon-bar-top {
        transform: translate(0, 8px) rotate(-45deg);
    }

    .make-cross .icon-bar-middle {
        opacity: 0;
    }

    .make-cross .icon-bar-bottom {
        transform: translate(0, -8px) rotate(45deg);
    }

    .mobile-dark-layer {
        display: block;
        position: fixed;
        top: -10vh;
        right: 0;
        bottom: -10vh;
        height: 120vh;
        width: 0%;
        cursor: pointer;
        z-index: 1010;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: opacity 0.75s, width 0.5s;
    }

    .make-dark {
        opacity: 1;
        width: 100%;
    }

    .move-in {
        transform: translateX(0%);
    }

}

#mobile-to-top {
    position: fixed;
    bottom: var(--antique--to-top--bottom);
    right: var(--antique--to-top--right);
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--antique--to-top--dimensions);
    width: var(--antique--to-top--dimensions);
    border-radius: var(--antique--to-top--border-radius);
    background-color: #6e6e6e;
    transition: opacity 0.5s;
    opacity: 0.5;
    cursor: pointer;
}

@media only screen and (min-width: 769px) {

    #mobile-to-top {
        display: none;
    }

}

#mobile-to-top.disappear {
    cursor: default;
    pointer-events: none;
    transition: opacity 0.5s;
    opacity: 0;
}

#mobile-to-top:active {
    opacity: 1;
}

#mobile-to-top .fa-angle-up {
    color: white;
}

/*
----------------------------------------
Page header
----------------------------------------
*/

.site-page-header {
    height: auto;
    white-space: normal;
}

.page-header-inner-wrap {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

.page-title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--antique--page-header--min-height);
    width: var(--antique--page-title--width);
    padding: var(--antique--page-header--padding-tb) 0;
}

.page-title,
.page-subtitle {
    padding: 0;
    text-align: left;
}

.page-title {
    margin: 0;
    font-size: var(--antique--font-size-primary-page-title);
    line-height: var(--antique--line-height-page-title);
    letter-spacing: var(--antique--letter-spacing-page-title);
}

.page-subtitle {
    margin: 0.25em 0;
    font-size: var(--antique--font-size-primary-page-subtitle);
}

@media only screen and (max-width: 768px) {

    .site-page-header {
        margin-top: var(--antique--mobile-nav-opener--height);
    }
    
    .page-header-inner-wrap {
        flex-direction: column;
    }

    .page-title-wrap {
        padding: var(--antique--page-header--padding-tb--mobile) 0;
    }

    .page-title-wrap {
        width: 100%;
    }

}

/*
----------------------------------------
Page content
----------------------------------------
*/

.site-main p:not(.has-text-align-center):not(.has-text-align-right) {
    text-align: justify;
}

.site-page-content-area {
    min-height: var(--antique--content-area--min-height);
    margin: var(--antique--content-area--margin-tb) 0;
}

.post-content-wrap {
    display: block;
    float: left;
    width: var(--antique--content--width);
    margin-right: var(--antique--content--margin-right);
}

.post-content > :first-child {
    margin-top: 0;
}

.sidebar {
    display: block;
    float: left;
    width: var(--antique--sidebar--width);
    margin-left: var(--antique--sidebar--margin-left);
}

.sidebar .widget {
    margin: var(--antique--widget--margin-tb) 0;
}

@media only screen and (max-width: 768px) {

    .site-page-content-area {
        margin: var(--antique--content-area--margin-tb--mobile) 0;
    }

    .post-content-wrap,
    .sidebar {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #top-sidebar {
        margin-bottom: var(--antique--sidebar--margin-tb--mobile);
    }

    #bottom-sidebar {
        margin-top: var(--antique--sidebar--margin-tb--mobile);
    }

}

/*
----------------------------------------
Footer
----------------------------------------
*/

.footer-widget-areas-wrap {
    display: flex;
    flex-direction: row;
    padding: 3em 0 2em 0;
    border-bottom: 1px solid var(--antique--footer--font-color);
}

.footer-widget-area {
    flex: 1 1 0;
    margin: 1em 0;
}

.site-info-wrap {
    padding: 0.75em 0;
    text-align: center;
}

.site-info {
    display: block;
    text-transform: uppercase;
}

.site-info a {
    font-weight: 600;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {

    .footer-widget-areas-wrap {
        flex-direction: column;
    }

}

/* Must be revised */

.site-footer .widget_nav_menu .widget-title {
    display: block;
    margin-bottom: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.site-footer .widget_nav_menu .menu {
    padding: 0;
    margin: 0;
}

.site-footer .widget_nav_menu li {
    list-style-type: none;
    padding: 0.5em 0;
}

/*
----------------------------------------
Thumbnail
----------------------------------------
*/

.thumbnail,
.thumbnail-caption {
    display: block;
}

.thumbnail-caption {
    margin-top: 4px;
    text-align: justify;
}

.thumbnail-before-content-wrap {
    margin-bottom: 30px;
}

.thumbnail-in-sidebar-wrap {
    margin-bottom: 12px;
}

.thumbnail-before-content,
.thumbnail-in-sidebar {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.thumbnail-next-to-title {
    height: var(--antique--page-header--min-height);
    width: calc(100% - var(--antique--page-title--width));
    padding-top: 10px;
    object-fit: scale-down;
    object-position: bottom right;
}

@media only screen and (max-width: 768px) {

    .thumbnail-next-to-title {
        width: 100%;
    }

}

/*
----------------------------------------
Post navigation bars
----------------------------------------
*/

.post-nav-separator {
    height: var(--antique--post-nav-separator--height);
}

.arrows-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    /* Otherwise ellipsis does not work with elements of dynamic width. */
    min-width: 0;
    background-color: var(--antique--post-nav--bg-color);
    transition: background-color 0.25s;
}

.arrow:hover {
    background-color: var(--antique--title--bg-color);
    transition: background-color 0.25s;
}

.arrow-post-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-decoration: none;
}

.arrow-post-title {
    display: inline-block;
    width: calc(100% - 2 * (var(--antique--arrow-head--line-width) + var(--antique--arrow-head--width)) - 1em);
    padding: 10px 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.2;
}

/*
----------------------------------------
Post ancestors bar
----------------------------------------
*/

.post-ancestors-arrows-wrap {
    padding: 0 calc(var(--antique--arrow-head--width) / 2);
}

.post-ancestors-arrow {
    width: 100%;
    margin: 0 calc(0px - var(--antique--arrow-head--width) / 2);
    -webkit-clip-path: polygon(
        0 0,
        calc(100% - var(--antique--arrow-head--width)) 0,
        100% 50%,
        calc(100% - var(--antique--arrow-head--width)) 100%,
        0 100%,
        var(--antique--arrow-head--width) 50%,
        0 0
        );
    clip-path: polygon(
        0 0,
        calc(100% - var(--antique--arrow-head--width)) 0,
        100% 50%,
        calc(100% - var(--antique--arrow-head--width)) 100%,
        0 100%,
        var(--antique--arrow-head--width) 50%,
        0 0
        );
}

.post-ancestors-arrow:after,
.post-ancestors-arrow:last-child:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: calc(var(--antique--arrow-head--line-width) + var(--antique--arrow-head--width));
    -webkit-clip-path: polygon(
        0 0,
        var(--antique--arrow-head--line-width) 0,
        calc(var(--antique--arrow-head--line-width) + var(--antique--arrow-head--width)) 50%,
        var(--antique--arrow-head--line-width) 100%,
        0 100%,
        var(--antique--arrow-head--width) 50%,
        0 0
        );
    clip-path: polygon(
        0 0,
        var(--antique--arrow-head--line-width) 0,
        calc(var(--antique--arrow-head--line-width) + var(--antique--arrow-head--width)) 50%,
        var(--antique--arrow-head--line-width) 100%,
        0 100%,
        var(--antique--arrow-head--width) 50%,
        0 0
        );
    background-color: var(--antique--title--bg-color);
}

.post-ancestors-arrow:after {
    left: 0;
}

/* The last arrow gets a second arrow head on the right side. */
.post-ancestors-arrow:last-child:before {
    right: 0;
}

/* On mobile devices all but the last two arrows are hidden. */
@media only screen and (max-width: 768px) {

    .post-ancestors-arrow {
        display: none;
    }

    .post-ancestors-arrows-wrap .arrow:nth-last-child(-n+2) {
        display: flex;
    }

}

/*
----------------------------------------
Next-previous bar
----------------------------------------
*/

.next-previous-arrow {
    width: 50%;
}

.previous-arrow {
    -webkit-clip-path: polygon(
        100% 0,
        100% 100%,
        var(--antique--arrow-head--width) 100%,
        0 50%,
        var(--antique--arrow-head--width) 0,
        100% 0
        );
    clip-path: polygon(
        100% 0,
        100% 100%,
        var(--antique--arrow-head--width) 100%,
        0 50%,
        var(--antique--arrow-head--width) 0,
        100% 0
        );
}

.next-arrow {
    -webkit-clip-path: polygon(
        0 0, calc(100% - var(--antique--arrow-head--width)) 0,
        100% 50%,
        calc(100% - var(--antique--arrow-head--width)) 100%,
        0 100%,
        0 0
        );
    clip-path: polygon(
        0 0, calc(100% - var(--antique--arrow-head--width)) 0,
        100% 50%,
        calc(100% - var(--antique--arrow-head--width)) 100%,
        0 100%,
        0 0
        );
}

.next-previous-arrow:before,
.next-previous-arrow:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--antique--title--bg-color);
}

.next-previous-arrow:before {
    width: var(--antique--separator-line--width);
    -webkit-clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        0 0
        );
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%,
        0 0
        );
}

.next-previous-arrow:after {
    width: calc(var(--antique--arrow-head--line-width) + var(--antique--arrow-head--width));
}

.previous-arrow:before {
    display: none;
    right: 0;
}

.next-arrow:before {
    left: 0;
}

.previous-arrow:after {
    left: 0;
    -webkit-clip-path: polygon(
        var(--antique--arrow-head--width) 0,
        calc(var(--antique--arrow-head--line-width) + var(--antique--arrow-head--width)) 0,
        var(--antique--arrow-head--line-width) 50%,
        calc(var(--antique--arrow-head--line-width) + var(--antique--arrow-head--width)) 100%,
        var(--antique--arrow-head--width) 100%,
        0 50%,
        var(--antique--arrow-head--width) 0
        );
    clip-path: polygon(
        var(--antique--arrow-head--width) 0,
        calc(var(--antique--arrow-head--line-width) + var(--antique--arrow-head--width)) 0,
        var(--antique--arrow-head--line-width) 50%,
        calc(var(--antique--arrow-head--line-width) + var(--antique--arrow-head--width)) 100%,
        var(--antique--arrow-head--width) 100%,
        0 50%,
        var(--antique--arrow-head--width) 0
        );
}

.next-arrow:after {
    right: 0;
    -webkit-clip-path: polygon(
        0 0,
        var(--antique--arrow-head--line-width) 0,
        calc(var(--antique--arrow-head--line-width) + var(--antique--arrow-head--width)) 50%,
        var(--antique--arrow-head--line-width) 100%,
        0 100%,
        var(--antique--arrow-head--width) 50%,
        0 0
        );
    clip-path: polygon(
        0 0,
        var(--antique--arrow-head--line-width) 0,
        calc(var(--antique--arrow-head--line-width) + var(--antique--arrow-head--width)) 50%,
        var(--antique--arrow-head--line-width) 100%,
        0 100%,
        var(--antique--arrow-head--width) 50%,
        0 0
        );
}

/*
----------------------------------------
Post meta
----------------------------------------
*/

.post-meta-top {
    padding-bottom: var(--antique--post-meta--padding);
    margin-bottom: var(--antique--post-meta--margin);
    border-bottom: 1px solid var(--antique--color-black);
}

.single .post-meta-top {
    text-align: right;
}

@media only screen and (max-width: 768px) {

    .single .post-meta-top {
        text-align: left;
    }

}

.post-meta-bottom {
    padding-top: var(--antique--post-meta--padding);
    margin-top: var(--antique--post-meta--margin);
    border-top: 1px solid var(--antique--color-black);
}

.post-meta-bottom .post-meta {
    display: block;
}


.about-author {
    height: max-content;
    min-height: calc(var(--antique--avatar--dimensions) + 2 * var(--antique--box--padding-tb));
    margin: 0;
}

.excerpt,
.author .about-author {
    padding: var(--antique--box--padding-tb) var(--antique--box--padding-lr);
}

.author .about-author {
    margin-bottom: calc(3 * var(--antique--font-size-primary-normal));
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(
        to right,
        transparent,
        var(--antique--color-black),
        var(--antique--color-black),
        transparent
        ) 1;
    border-left: none;
    border-right: none;
    font-size: var(--antique--font-size-secondary-normal);
}

.single .about-author {
    padding: var(--antique--box--padding-tb) 0;
    margin-top: var(--antique--font-size-secondary-large);
    margin-bottom: 0;
}

.author-name {
    display: block;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: var(--antique--font-size-secondary-large);
    font-weight: 500;
    letter-spacing: 1px;
}

.author-avatar {
    float: left;
    height: var(--antique--avatar--dimensions);
    width: var(--antique--avatar--dimensions);
    margin-right: var(--antique--avatar--margin-right);
    margin-bottom: var(--antique--avatar--margin-bottom);
    border-radius: calc(var(--antique--avatar--dimensions) / 2);
}

.author-description {
    margin: 0;
}

@media only screen and (max-width: 768px) {

    .about-author {
        min-height: calc(var(--antique--avatar--dimensions) + 2 * var(--antique--box--padding-tb-mobile));
        text-align: center;
    }

    .excerpt,
    .author .about-author {
        padding: var(--antique--box--padding-tb-mobile) var(--antique--box--padding-lr-mobile);
    }

    .author-avatar {
        float: unset;
        margin-right: 0;
    }

}

/*
----------------------------------------
Excerpt
----------------------------------------
*/

.excerpt {
    margin: 20px 0;  /* TODO */
    border: var(--antique--excerpt--border-width) solid var(--antique--excerpt--border-color);
    border-radius: var(--antique--excerpt--border-radius);
}

.excerpt-title {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.excerpt-link,
.excerpt-link:visited {
    color: var(--antique--content--font-color);
}

.excerpt-link:hover {
    color: var(--antique--link--color);
}

/*
----------------------------------------
Search form
----------------------------------------
*/

.site-search {
    margin-top: 2px;
    margin-bottom: 12px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form .search-field {
    flex-grow: 1;
}

.search-form .search-submit {
    margin-left: 4px;
}

/*
----------------------------------------
Pagination
----------------------------------------
*/

.pagination {
    padding: 30px 0;
}

.post-nav-links,
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination a,
.pagination a:hover,
.pagination a:visited {
    text-decoration: none;
    color: var(--antique--color-black);
}

.post-page-numbers,
.page-numbers {
    display: block;
    box-sizing: content-box;
    height: var(--antique--page-number--height);
    aspect-ratio: 1 / 1;
    margin: var(--antique--page-number--margin);
    border: 1px solid var(--antique--color-black);
    text-align: center;
    line-height: var(--antique--page-number--height);
    color: black;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.post-page-numbers.current,
.page-numbers.current {
    background-color: var(--antique--page-number-current--color);
}
