.edit-post-meta-boxes-area.is-side {
    margin-top: -13px;
}

.ui-sortable-handle {
    padding-left: 16px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    color: black !important;
}
.postbox {
    margin-top: -1px !important;
    border-bottom: 1px solid #e0e0e0 !important;
}

.postbox-header {
    height: 50px;
}

.postbox > .inside {
    padding: 0 16px 16px 16px !important;
}

.panel-row-no-margin {
    margin: 0;
}

.meta-explanation-wrap {
    margin-top: 10px;
}

.meta-heading {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 700;
}

.meta-explanation {
    margin: 0;
    text-align: justify;
    font-size: 11px;
    line-height: 13px;
}

.thumbnail-meta-wrap input {
    width: 80px;
    text-align: center;
}